<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.66.0.0" targetFramework="native" />
  <package id="casparcg.cef.redist.x64" version="103.0.0-5060-shared-textures.2591" targetFramework="native" />
  <package id="casparcg.cef.sdk" version="103.0.0-5060-shared-textures.2591" targetFramework="native" />
</packages>
